
h2{
    
    background-color: #263446;
    text-align: center;
    color:white;
}
.dialog{
    width:35em;
    font-family: Roboto, serif;
    height:10em;
    border:1px solid gray;
    text-align:center;
    background-color: #D6DBFA;
   margin:-1.5em;
    
}
mat-dialog-actions{
    display:flex;
    justify-content: space-around;
}
.content{
    display: flex;
    flex-direction: column;
    
}
button{
    width:7em;
    height:2em;
    border: 1px solid #8595AB;
  border-radius: 6px;
  background-color: #FFFFFF;

  margin-top: 0;
  padding:auto;
 
  
  font-family: Roboto, serif;
  
  line-height: 16px;
}
