<app-navbar></app-navbar>
<div class="body">
<app-connected-clients></app-connected-clients>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<div class=" cards">
    <div class="  card">
        <img src="../../assets/clients_connected.svg"/>
        <h1>65</h1>
        <p>Clients Connected</p>
    </div>
    <div class=" card">
            <img src="../../assets/network_usage.svg"/>
            <h1>60%</h1>
            <h6>Avg Network Usage</h6>
    </div>
    <div class=" card">
            <img class="clients" 
            src="../../assets/prioritised_clients.png"/>
            <h1>27</h1>
            <h6>Clients Being Prioritised</h6>
    </div>
</div>
</div>

