.body{
    display:flex;
    
}
.cards{
    font-family: Roboto;
    padding-top: 1em;
    padding-bottom: 1em;

    padding-left:1em;
    padding-right:1em;
}
app-connected-clients{
    flex:1;
    margin-top:0em;
    margin-right: 0em;
}
.cards{
    display:flex;
    flex:4;
    text-align: center;
    margin:1em;
    background-color: #DCE1E7;
}
.card{
    padding-top:2em;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:1em;
    width:100%;
    height: 12em;	width: 20em;	border-radius: 4px;	background-color: #FFFFFF;	
    box-shadow: 0 8px 12px 0 rgba(133,149,171,0.09);
}
.clients{
    margin-left:auto;
    margin-right:auto;
    width:3em;
    height:2.8em;
    
}
img{
    padding-top: 0em;
    margin-bottom:0.5em;
}
h1{
    font-weight: bold;
}
.content
{
    display:flex;
    flex-direction: column;
}
.table
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
table
{
    width:100%;
}
th
{
    font-size: 0.750em;
}
button
{
    border-radius: 40%;
    color: #52BEFF;
    background-color: rgba(19,194,254,0.11);
    padding-left: 1em;
    padding-right: 1em;
}
td
{
    color: #363C43;
    font-size: 0.750em;
}
h5
{
    font-size: 0.875em;
}
app-connected-clients
{
    height: 80vh;
    background-color: #263446;
}