.body{
    display:flex;
    background-color:  #DCE1E7;
    height:100vh;
    
}
.cards{
    font-family: Roboto;
    padding-top: 1em;
    padding-bottom: 1em;
    
    padding-left:1em;
    padding-right:1em;
    
}
app-connected-clients{
    flex:1;
   
}
.cards{
    display:flex;
    
    text-align: center;
    margin:0.5em;
    background-color: #DCE1E7;
    
    
}
.card{
    padding-top:2em;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:1em;
    width:100%;
    height: 12em;	width: 20em;	border-radius: 4px;	background-color: #FFFFFF;	
    box-shadow: 0 10px 20px 0 rgba(133,149,171,0.09);
    margin-right:12px;
    border-radius:2%;
}
.last-card{
    margin-right:0px;
}
.clients{
    margin-left:auto;
    margin-right:auto;
    width:3em;
    height:2.8em;
    
}
img{
    padding-top: 0em;
    margin-bottom:0.5em;
}
h1{
    font-weight: bold;
}
.content
{
    display:flex;
    flex-direction: column;
}
.table
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-top:2em;
    width:95%;
    margin:auto;
    margin-bottom:3.5em;
    margin-top:0em;
    border-radius:1%;
    
}
.heading{
    padding-bottom: 2em;
}
table
{
    width:100%;
     border-collapse: separate;
    
    
    
}
th
{
    font-size: 0.750em;
}
.buttons
{
    border-radius: 35%;
    color: #52BEFF;
    background-color: rgba(19,194,254,0.11);
    padding-left: 1.4em;
    padding-right: 1.4em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
td
{
    color: #363C43;
    font-size: 0.750em;
}
h5
{
    font-size: 0.875em;
}
app-connected-clients
{
    height: 100vh;
    background-color: #263446;
}
tr{
    border-radius:5%;

    

}