body
{
  background-image: url('../../assets/bg.jpg') ;
}
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* font-size: 16px; */
    margin: 4px 1px;
    cursor: pointer;
  }
  .button-login
  {
    background-color: #008CBA;
  }
  .button-signup {
    margin-right: 1em;
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }
.container
{   
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center;
}
.heading
{
  margin-right:auto;
  margin-left:auto;
}
.content
{
  margin-top: 30vh;
}