<body background ="../../assets/bg.jpg">
<div class= "container">
<main class= "content"> 
<img src="../../assets/logo_navbar.svg" />
<br>
<br>
<h2 class="heading">Heading</h2>
<p class= "heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit<br> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
<button routerLink="/signup" class="btn button-signup button">Sign up</button>
<button routerLink="/login" class="btn button-login button">Login</button>  
</main>
</div>
</body>