<ngx-charts-line-chart *ngIf="data"
                       (select)="onSelect($event)"
                       [autoScale]="autoScale"
                       [curve]="curve"
                       [gradient]="gradient"
                       [legend]="showLegend"
                       [results]="data"
                       [scheme]="colorScheme"
                       [showGridLines]="showGridLines"
                       [showXAxisLabel]="showXAxisLabel"
                       [showYAxisLabel]="showYAxisLabel"
                       [timeline]="timeline"
                       [view]="view"
                       [xAxisLabel]="xAxisLabel"
                       [xAxis]="showXAxis"
                       [yAxisLabel]="yAxisLabel"
                       [yAxis]="showYAxis">
</ngx-charts-line-chart>

<hr>

<ngx-charts-line-chart *ngIf="data"
                       (select)="onSelect($event)"
                       [autoScale]="autoScale"
                       [curve]="curve"
                       [gradient]="gradient"
                       [legend]="showLegend"
                       [results]="data"
                       [scheme]="colorScheme"
                       [showGridLines]="showGridLines"
                       [showXAxisLabel]="showXAxisLabel"
                       [showYAxisLabel]="showYAxisLabel"
                       [timeline]="timeline"
                       [view]="view"
                       [xAxisLabel]="xAxisLabel"
                       [xAxis]="showXAxis"
                       [yAxisLabel]="yAxisLabel"
                       [yAxis]="showYAxis">
</ngx-charts-line-chart>

<hr>

<ngx-charts-line-chart *ngIf="data"
                       (select)="onSelect($event)"
                       [autoScale]="autoScale"
                       [curve]="curve"
                       [gradient]="gradient"
                       [legend]="showLegend"
                       [results]="data"
                       [scheme]="colorScheme"
                       [showGridLines]="showGridLines"
                       [showXAxisLabel]="showXAxisLabel"
                       [showYAxisLabel]="showYAxisLabel"
                       [timeline]="timeline"
                       [view]="view"
                       [xAxisLabel]="xAxisLabel"
                       [xAxis]="showXAxis"
                       [yAxisLabel]="yAxisLabel"
                       [yAxis]="showYAxis">
</ngx-charts-line-chart>

<hr>
<hr>

<ngx-charts-pie-chart
  (select)="onSelect($event)"
  [doughnut]="doughnut"
  [explodeSlices]="explodeSlices"
  [gradient]="gradient"
  [labels]="showLabels"
  [legend]="showLegend"
  [results]="hdData"
  [scheme]="colorScheme"
  [view]="view">

</ngx-charts-pie-chart>
