.container-fluid{
    display:flex;
    flex-direction: column;
    width:100%;
    margin:0;
   
}
body{
    background-color: #DCE1E7;
    font-family:Roboto;
}
.row-data{
    display:flex;
    
    
}
.box{
    background-color: white;
    margin-top:1em;
    margin-left:1em;
    margin-right:1em;
    border:0.01em solid black;
    border-radius: 4px;
    box-shadow: 0 8px 12px 0 rgba(133,149,171,0.14);
}
h5{
    margin:1em;
    margin-bottom:2em;
   
}
.first{
    margin-left:2em;
}
.full-graph{
    margin-top:0em;
}
.clientName{
    margin-left:2em;
    margin-bottom:0.5em;
    margin-right:50em;
}
.head{
    display:flex;
    margin:1em;
}
.clientName{
    padding-top:0.4em;
}
button{
    height:2em;
    flex:1;
    width:3em;
    margin-top:0.3em;
    margin-left:2em;
    border:0px;
    border: 1px solid #8595AB;
  border-radius: 6px;
  background-color: #FFFFFF;
 margin-top: 0;
  padding-bottom:auto;
  width: 5em;
  height: 2em;
  color:rgb(56, 59, 63) ;
  font-family: Roboto, serif;
  font-size: 14px;
  line-height: 16px;
}
